<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!--? Contact form Start -->
     <div class="contact-form-main" >
        <div class="container" >
            <div class="row justify-content-end">
                <div class="col-xl-7 col-lg-7" style="position: relative;left:100px;">
                    <div class="form-wrapper" >
                        <!--Section Tittle  -->
                        {% if messages %}
                        {% for messsage in messages %}
                      
                        <div class='chip green white-text' style="color:red;font-size: 20px;position: relative;left:80px;top:80px;">{{messsage}}</div>
                       {% endfor %}
                       {% endif %}
                        <div class="form-tittle">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <!-- <div class="section-tittle section-tittle2"> -->
                                        <h1>Create Your Post</h1>
                                        <br><br>
                                        <!-- <h2>Appointment Form</h2> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <!--End Section Tittle  -->
                        <!-- <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table style="position: relative;left: 50px;">
                            {{form.as_table}}
                           
                            </table>
                            <input type="submit" style="position: relative;left: 50px;">
                            </form> -->
                        <form  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <label style="color: black;font-size: 15px;position: relative;left:25px;">Title:
                                        <input type="text" name="title" placeholder="Enter Title Here" style="font-size: 20px;"  required class="validate"/></label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                <label style="color: black;font-size: 15px;position: relative;left:25px;">Image:<input type="file" name="image" required class="validate" ></label>
                                
                                    </div></div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-box user-icon mb-30">
                                        <label style="color: black;font-size: 15px;">Category</label>
  <select class="browser-default" name="category"  required class="validate" style="position:relative;bottom:200px;">
    <option value="Covid19">Covid19</option>
    <option value="Heart Disease">Heart Disease</option>
    <option value="Immunization">Immunization</option>
    <option value="Mental Health">Mental Health</option>

  </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 mb-30">
                                    <div class="form-box user-icon mb-30">
                                        <label class="form-label" style="font-size: 15px;">Summary:</label>
                                        <textarea name="summary" id="summary"  style="font-size: 20px;position: relative;left:10px;" required class="validate"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 mb-30">
                                    <div class="form-box user-icon mb-30">
                                        <label class="form-label" style="font-size: 15px;">Content:</label>
                                        <textarea name="content" id="content"  style="font-size: 20px;position: relative;left:10px;" required class="validate"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-box subject-icon mb-30">
                                        <label for="id_draft" style="font-size: 15px;">Draft:</label>
                                        <input type="checkbox" name="draft" id="id_draft" >
                                    </div>
                                </div>
                              
                              
                                
                                    <div class="submit-info">
                                        <input type="submit" value="Create Post" name="create_post" class="btn btn-large" style="color:white;background-color:rgb(34, 87, 246) ;position: relative;left: 15px;">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact left Img-->
        <div class="from-left d-none d-lg-block">
            <img src="{% static 'img/logo/logo.png' %}" alt="" style="height: 200px;width: 500px;position:relative;bottom:600px;left:100px">
        </div>
    </div>
    <!-- Contact form End -->
{% endblock %}